html, body {
  background: linear-gradient(to bottom, black 200px,white);
  margin: auto;
  padding: 0;
}

img{
  width: 800px;
}
.text{
 margin: auto;
 text-align: center;
  padding: 25px;
  font-size: 35px;
  width: auto;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
}
canvas {
  display: block;
}
